@charset "utf-8";

.upperBar {
  text-align: center;
  line-height: 10vh;
  width: 100vw;
  height: 10vh;
  background-color: rgb(225, 181, 181);
  top: 0;
  left: 0;
}

.main4 {
  width: 100vw;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
}

.side {
  float: left;
  width: 20%;
  height: 100%;
  position: sticky;
  background-color: rgb(231, 194, 216);
}

.back4 {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.left4 {
  margin-left: 20%;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}
